#board{
      width: 7500px;
      height: 3750px;
    
      display: grid;
      grid-template-rows: repeat(50, 1fr);
      grid-template-columns: repeat(100, 1fr);
}

.board1{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.block {
  
  /* Maintain a 1:1 aspect ratio */
  background-color: #d1fae5;
  /* Example color */
  transition: background-color 0.3s;
  /* Smooth hover effect */
}

/* From Uiverse.io by Praashoo7 */
.load {
  display: flex;
  border-radius: 50%;
  flex-direction: row;
}

.cs-progress {
  width: 2em;
  height: 2em;
  margin: 0.4em;
  scale: 0;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  animation: loading_492 2s ease infinite;
  animation-delay: 1s;
}

.cs-fixloading {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0px;
  z-index: 9999;
  background: black;
  opacity: 65%;
}

.cs-container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes loading_492 {
  50% {
    scale: 1;
  }
}

.cs-progress:nth-child(2) {
  animation-delay: 1.3s;
}

.cs-progress:nth-child(3) {
  animation-delay: 1.7s;
}